.example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    height: 100%;
  }
  
  .example-sidenav {
    padding: 20px;
  }


  /* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 19em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
} 

.wrap {
  display: flex;
}

.content-text {
  width: 80%;
  /*background: green;*/
  padding: 2%;
}

.content-image {
  flex-grow: 1;
  /*background: blue;*/
  padding: 1%;
}


.mat-card-style{
  width: 60%;  
  /*align-items: center;
  justify-content: center;*/
  margin: auto;
  margin-top: 1%;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
