
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="anim-typewriter">Personal Website</span>
        <!--p class="line-1 anim-typewriter titulo">João Tomás Personal Website</p-->         
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>code</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>school</mat-icon>
        </button>
      </mat-toolbar>
  
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <!--p>Auto-resizing sidenav</p-->
        <p *ngIf="showFiller">Hello and welcome to my personal website</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>
    
      <div class="example-sidenav-content">
        <!--mat-card *ngFor="let post of array" class="mat-card-style">{{post.name}}</mat-card-->


          <mat-card *ngFor="let post of array" class="mat-card-style">
          <mat-card-title-group>
            <mat-card-title>{{post.name}}</mat-card-title>
            <mat-card-subtitle>WIP</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="wrap">
            <div class="content-text">{{longText}}</div>
            <div class="content-image">
              <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>

        </mat-card>
        

      </div>
    
    </mat-drawer-container>
  