
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="anim-typewriter">Personal Website</span>
        <!--p class="line-1 anim-typewriter titulo">João Tomás Personal Website</p-->         
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>code</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>school</mat-icon>
        </button>
      </mat-toolbar>
  
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <!--p>Auto-resizing sidenav</p-->
        <p *ngIf="showFiller">Hello and welcome to my personal website</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>
    
      <div class="example-sidenav-content">
        <mat-card>First post</mat-card>
      </div>
    
    </mat-drawer-container>
  